.bottom-box {
    background-color: #f8f8f8;
    padding: 20px 0;
  }
  
  .content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .contact-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .contact-box {
    display: flex;
    gap: 20px;
  }
  
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  #newsletter,
  #lenshero {
    flex-grow: 1;
    max-width: 300px;
  }
  
  .button-newsletter {
    margin-top: 10px;
  }