.contact-page {
  padding: 20px;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info .icon {
  margin-right: 10px;
}

.contact-form {
  margin-top: 20px;
  display: block;
  text-align: left;
 
  
}