.contact-page {
  padding: 20px;
}

.contact-info p,
.contact-form label {
  text-align: center;
  flex-direction: row-reverse
}

.contact-info .icon {
  margin-right: 10px;
}

.contact-form {
  margin-top: 20px;
}